@media only screen and (max-width: 600px){
 
*{
 padding: 0;
 margin: 0;
 font-family: sans-serif ;
}

body {
    background-image: url("back.png");
    background-size: cover ;
    min-height: 700px;
}
.head{
 background-color: rgba(0, 0, 0,0.4) ;
 width: 100%;
 height: 100px;
 backdrop-filter: blur(5px );
 box-shadow: 3px 3px 15px rgba(0, 0, 0,0.2) ;
 border-bottom: 1px solid red ;
 display: flex ;
}
.head .friend {
 position: relative ;
 width: 70%;
 height: 100%;
 display: flex ;
 align-items: center ;
}
.head .friend .img{
 width: 80px;
 height: 80px;
 background-color: white;
 border-radius: 60px ;
 margin-left: 15px ;
}
.head .friend .name{
 display: flex ;
 position: relative;
 flex-direction: column ;
 margin-left: 15px;
 }
 .head .friend .name h1{
  font-size: 1.5em ;
  font-weight: 600;
 }
  .head .friend .name span{
   color:  black;
  }
  
  .footer {
   background-color: rgba(0, 0, 0,0.4) ;
   width: 100%;
   height: 150px ;
   position: fixed ;
   bottom: 0;
   backdrop-filter: blur(5px);
   box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
   border-top: 1px solid red;
   display: flex;
  }
  .footer .form{
   width: 100%;
   height: 100% ;
   display: flex ;
   margin:  0;
  }
  .footer .form form{
   
   width: 100%;
   height: 60px;
   position: relative ;
   margin-top: 50px ;
   display: flex ;
   align-items: center ;
  }
  
  .footer .form form input {
   width: 300px;
   height: 40px;
   background: none;
   color: white;
   font-size: 1.2em ;
   margin-left: 20px ;
   outline: none;
   border: none ;
   position: relative ;
   background-color: rgba(244, 255, 255, 0.4);
   border-radius: 10px ;
   font-weight: 600;
  }
  
 .footer .form form button{
  width: 70px ;
  height: 40px;
  position: relative ;
  margin-left: 10px;
  border-radius: 10px ;
  border: none ;
 }
 .body{
  width: 100%;
  height: 490px;
  position: relative ;
  overflow-y: scroll;
  display: flex ;
  flex-direction: column ;
  align-items: center;
  justify-content: center;
 }
 .body .message {
  position: absolute ;
  bottom: 0;
  width: 100%;
  display: flex ;
  flex-direction: column;
  gap: 20px ;
  
 }
 .body .message .send-end{
  width: 100%;
  position: relative ;
  overflow: hidden ;
  
 }
 .body .message .send-end .sms{
  transform: translateX(60%);
  position: relative ;
  background-color: rgba(0, 0, 0, 0.6); 
  height: 50px;
  width: auto;
  border-radius: 20px 0 0 0;
  display: flex ;
  flex-direction: column ;
  justify-content: center ;
  border: 1px solid red;
  color: white;
  font-size: 1em;
  font-weight: 600;
 }
 
  .body .message .send-end .sms .h1_create_one{
   margin-left: 10px;
   font-size: 1em;
  }
   
  .body .message .receive-start{
  width: 100%;
  position: relative ;
  overflow: hidden ;
  
 }
 .body .message .receive-start .sms_container{
  
  
  position: relative ;
  background-color: rgba(0, 0, 0, 0.8);
  height: 50px;
  width: 150px;
  border-radius: 0 20px 0 0;
  display: flex ;
  flex-direction: column ;
  justify-content: center ;
  border: 1px solid red;
  color: white ;
  font-size: 1em ;
  font-weight: 600;
 }

 .body .message .receive-start .sms_container .h1_create{
  margin-left: 10px ;
  font-size: 1em ;
 }
 
   .name_selet{
    background-color: rgba(0, 0, 0,0.2);
    position: fixed ;;
    top: 0%;
    z-index: 5;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    display: flex ;
    justify-content: center ;
    align-items: center ;
    flex-direction: column ;
    
   }
   .name_selet form{
    display: flex;
    flex-direction: column ;
    width: 100%;
    align-items: center ;
   } 
   .name_selet form #user_name{
    width: 300px ;
    height: 40px;
    text-align: center ;
    font-size: 1.5em ;
    outline: none ;
    border: none;
    background: none;
    color: black ;
   }
   
   .name_selet form #save{
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: 1.5em;
    color: white;
    margin-top: 20px ;
    border-radius: 30px ;
    outline: none;
    border: none;
    background: none;
    background-color: rgba(0, 0, 0,0.2);
    backdrop-filter: blur(15px);
   }
 
}


